#signInMainBox{
    border:10px solid goldenrod;
    width: 30%;
    margin: auto;
    margin-top: 10%;
    padding: 1%;
    border-radius: 5px;
}
#signInTop{
    width: 50%;
 line-height: 20px;
}
#signInTop > h2{
    margin-top: -3%;   
 }

 #signInMid > input{ 
    width: 95%;
    padding: 2%;
    margin: 1%;
 }
 #signInMainBox > p{
     text-decoration: underline;
     color: red;
     font-size: 80%;
     vertical-align: top;
     cursor: pointer;
 }

 button{
     background-color: black;
     color: white;
     width: 100%;
     padding: 2%;
     cursor: pointer;
     border:none;
     border-radius: 2px;


 }
 #signInBot{
     color: white;
     text-decoration: none;
 }